In [58]:
import re
import quandl
import pandas as pd
import pickle
import matplotlib.pyplot as plt
from matplotlib import style
style.use('fivethirtyeight')
api_key = open('quandlapikey.txt', 'r').read()

In [64]:
fiddy_states = pd.read_html(r'https://simple.wikipedia.org/wiki/List_of_U.S._states')

fiddy_states

[                          Name & Abbr          Cities                  \
                           Name & Abbr         Capital      Largest[3]
 0                        Alabama   AL      Montgomery      Birmingham
 1                         Alaska   AK          Juneau       Anchorage
 2                        Arizona   AZ         Phoenix         Phoenix
 3                       Arkansas   AR     Little Rock     Little Rock
 4                     California   CA      Sacramento     Los Angeles
 5                       Colorado   CO          Denver          Denver
 6                    Connecticut   CT        Hartford      Bridgeport
 7                       Delaware   DE           Dover      Wilmington
 8                        Florida   FL     Tallahassee    Jacksonville
 9                        Georgia   GA         Atlanta         Atlanta
 10                        Hawaii   HI        Honolulu        Honolulu
 11                         Idaho   ID           Boise           Boise
 12                      Illinois   IL     Springfield         Chicago
 13                       Indiana   IN    Indianapolis    Indianapolis
 14                          Iowa   IA      Des Moines      Des Moines
 15                        Kansas   KS          Topeka         Wichita
 16       Kentucky[upper-alpha 2]   KY       Frankfort      Louisville
 17                     Louisiana   LA     Baton Rouge     New Orleans
 18                         Maine   ME         Augusta        Portland
 19                      Maryland   MD       Annapolis       Baltimore
 20  Massachusetts[upper-alpha 2]   MA          Boston          Boston
 21                      Michigan   MI         Lansing         Detroit
 22                     Minnesota   MN        St. Paul     Minneapolis
 23                   Mississippi   MS         Jackson         Jackson
 24                      Missouri   MO  Jefferson City     Kansas City
 25                       Montana   MT          Helena        Billings
 26                      Nebraska   NE         Lincoln           Omaha
 27                        Nevada   NV     Carson City       Las Vegas
 28                 New Hampshire   NH         Concord      Manchester
 29                    New Jersey   NJ         Trenton          Newark
 30                    New Mexico   NM        Santa Fe     Albuquerque
 31                      New York   NY          Albany        New York
 32                North Carolina   NC         Raleigh       Charlotte
 33                  North Dakota   ND        Bismarck           Fargo
 34                          Ohio   OH        Columbus        Columbus
 35                      Oklahoma   OK   Oklahoma City   Oklahoma City
 36                        Oregon   OR           Salem        Portland
 37   Pennsylvania[upper-alpha 2]   PA      Harrisburg    Philadelphia
 38   Rhode Island[upper-alpha 3]   RI      Providence      Providence
 39                South Carolina   SC        Columbia      Charleston
 40                  South Dakota   SD          Pierre     Sioux Falls
 41                     Tennessee   TN       Nashville       Nashville
 42                         Texas   TX          Austin         Houston
 43                          Utah   UT  Salt Lake City  Salt Lake City
 44                       Vermont   VT      Montpelier      Burlington
 45       Virginia[upper-alpha 2]   VA        Richmond  Virginia Beach
 46                    Washington   WA         Olympia         Seattle
 47                 West Virginia   WV      Charleston      Charleston
 48                     Wisconsin   WI         Madison       Milwaukee
 49                       Wyoming   WY        Cheyenne        Cheyenne

      Established Population[upper-alpha 1][1] Total area[2]           \
      Established Population[upper-alpha 1][1]           mi2      km2
 0   Dec 14, 1819                      4874747         52420   135767
 1    Jan 3, 1959                       739795        665384  1723337
 2   Feb 14, 1912                      7016270        113990   295234
 3   Jun 15, 1836                      3004279         53179   137732
 4    Sep 9, 1850                     39536653        163695   423967
 5    Aug 1, 1876                      5607154        104094   269601
 6    Jan 9, 1788                      3588184          5543    14357
 7    Dec 7, 1787                       961939          2489     6446
 8    Mar 3, 1845                     20984400         65758   170312
 9    Jan 2, 1788                     10429379         59425   153910
 10  Aug 21, 1959                      1427538         10932    28313
 11   Jul 3, 1890                      1716943         83569   216443
 12   Dec 3, 1818                     12802023         57914   149995
 13  Dec 11, 1816                      6666818         36420    94326
 14  Dec 28, 1846                      3145711         56273   145746
 15  Jan 29, 1861                      2913123         82278   213100
 16   Jun 1, 1792                      4454189         40408   104656
 17  Apr 30, 1812                      4684333         52378   135659
 18  Mar 15, 1820                      1335907         35380    91633
 19  Apr 28, 1788                      6052177         12406    32131
 20   Feb 6, 1788                      6859819         10554    27336
 21  Jan 26, 1837                      9962311         96714   250487
 22  May 11, 1858                      5576606         86936   225163
 23  Dec 10, 1817                      2984100         48432   125438
 24  Aug 10, 1821                      6113532         69707   180540
 25   Nov 8, 1889                      1050493        147040   380831
 26   Mar 1, 1867                      1920076         77348   200330
 27  Oct 31, 1864                      2998039        110572   286380
 28  Jun 21, 1788                      1342795          9349    24214
 29  Dec 18, 1787                      9005644          8723    22591
 30   Jan 6, 1912                      2088070        121590   314917
 31  Jul 26, 1788                     19849399         54555   141297
 32  Nov 21, 1789                     10273419         53819   139391
 33   Nov 2, 1889                       755393         70698   183108
 34   Mar 1, 1803                     11658609         44826   116098
 35  Nov 16, 1907                      3930864         69899   181037
 36  Feb 14, 1859                      4142776         98379   254799
 37  Dec 12, 1787                     12805537         46054   119280
 38  May 29, 1790                      1059639          1545     4001
 39  May 23, 1788                      5024369         32020    82933
 40   Nov 2, 1889                       869666         77116   199729
 41   Jun 1, 1796                      6715984         42144   109153
 42  Dec 29, 1845                     28304596        268596   695662
 43   Jan 4, 1896                      3101833         84897   219882
 44   Mar 4, 1791                       623657          9616    24906
 45  Jun 25, 1788                      8470020         42775   110787
 46  Nov 11, 1889                      7405743         71298   184661
 47  Jun 20, 1863                      1815857         24230    62756
 48  May 29, 1848                      5795483         65496   169635
 49  Jul 10, 1890                       579315         97813   253335

    Land area[2]          Water area[2]         Numberof Reps.
             mi2      km2           mi2     km2 Numberof Reps.
 0         50645   131171          1775    4597              7
 1        570641  1477953         94743  245384              1
 2        113594   294207           396    1026              9
 3         52035   134771          1143    2961              4
 4        155779   403466          7916   20501             53
 5        103642   268431           452    1170              7
 6          4842    12542           701    1816              5
 7          1949     5047           540    1399              1
 8         53625   138887         12133   31424             27
 9         57513   148959          1912    4951             14
 10         6423    16635          4509   11678              2
 11        82643   214045           926    2398              2
 12        55519   143793          2395    6202             18
 13        35826    92789           593    1537              9
 14        55857   144669           416    1077              4
 15        81759   211754           520    1346              4
 16        39486   102269           921    2387              6
 17        43204   111898          9174   23761              6
 18        30843    79883          4537   11750              2
 19         9707    25142          2699    6990              8
 20         7800    20202          2754    7134              9
 21        56539   146435         40175  104052             14
 22        79627   206232          7309   18930              8
 23        46923   121531          1508    3907              4
 24        68742   178040           965    2501              8
 25       145546   376962          1494    3869              1
 26        76824   198974           524    1356              3
 27       109781   284332           791    2048              4
 28         8953    23187           397    1027              2
 29         7354    19047          1368    3544             12
 30       121298   314161           292     757              3
 31        47126   122057          7429   19240             27
 32        48618   125920          5201   13471             13
 33        69001   178711          1698    4397              1
 34        40861   105829          3965   10269             16
 35        68595   177660          1304    3377              5
 36        95988   248608          2391    6191              5
 37        44743   115883          1312    3397             18
 38         1034     2678           511    1324              2
 39        30061    77857          1960    5076              7
 40        75811   196350          1305    3379              1
 41        41235   106798           909    2355              9
 42       261232   676587          7365   19075             36
 43        82170   212818          2727    7064              4
 44         9217    23871           400    1035              1
 45        39490   102279          3285    8508             11
 46        66456   172119          4842   12542             10
 47        24038    62259           192     497              3
 48        54158   140268         11339   29367              8
 49        97093   251470           720    1864              1  ]

In [65]:
fiddy_states[0]

                          Name & Abbr          Cities                  \
                          Name & Abbr         Capital      Largest[3]
0                        Alabama   AL      Montgomery      Birmingham
1                         Alaska   AK          Juneau       Anchorage
2                        Arizona   AZ         Phoenix         Phoenix
3                       Arkansas   AR     Little Rock     Little Rock
4                     California   CA      Sacramento     Los Angeles
5                       Colorado   CO          Denver          Denver
6                    Connecticut   CT        Hartford      Bridgeport
7                       Delaware   DE           Dover      Wilmington
8                        Florida   FL     Tallahassee    Jacksonville
9                        Georgia   GA         Atlanta         Atlanta
10                        Hawaii   HI        Honolulu        Honolulu
11                         Idaho   ID           Boise           Boise
12                      Illinois   IL     Springfield         Chicago
13                       Indiana   IN    Indianapolis    Indianapolis
14                          Iowa   IA      Des Moines      Des Moines
15                        Kansas   KS          Topeka         Wichita
16       Kentucky[upper-alpha 2]   KY       Frankfort      Louisville
17                     Louisiana   LA     Baton Rouge     New Orleans
18                         Maine   ME         Augusta        Portland
19                      Maryland   MD       Annapolis       Baltimore
20  Massachusetts[upper-alpha 2]   MA          Boston          Boston
21                      Michigan   MI         Lansing         Detroit
22                     Minnesota   MN        St. Paul     Minneapolis
23                   Mississippi   MS         Jackson         Jackson
24                      Missouri   MO  Jefferson City     Kansas City
25                       Montana   MT          Helena        Billings
26                      Nebraska   NE         Lincoln           Omaha
27                        Nevada   NV     Carson City       Las Vegas
28                 New Hampshire   NH         Concord      Manchester
29                    New Jersey   NJ         Trenton          Newark
30                    New Mexico   NM        Santa Fe     Albuquerque
31                      New York   NY          Albany        New York
32                North Carolina   NC         Raleigh       Charlotte
33                  North Dakota   ND        Bismarck           Fargo
34                          Ohio   OH        Columbus        Columbus
35                      Oklahoma   OK   Oklahoma City   Oklahoma City
36                        Oregon   OR           Salem        Portland
37   Pennsylvania[upper-alpha 2]   PA      Harrisburg    Philadelphia
38   Rhode Island[upper-alpha 3]   RI      Providence      Providence
39                South Carolina   SC        Columbia      Charleston
40                  South Dakota   SD          Pierre     Sioux Falls
41                     Tennessee   TN       Nashville       Nashville
42                         Texas   TX          Austin         Houston
43                          Utah   UT  Salt Lake City  Salt Lake City
44                       Vermont   VT      Montpelier      Burlington
45       Virginia[upper-alpha 2]   VA        Richmond  Virginia Beach
46                    Washington   WA         Olympia         Seattle
47                 West Virginia   WV      Charleston      Charleston
48                     Wisconsin   WI         Madison       Milwaukee
49                       Wyoming   WY        Cheyenne        Cheyenne

     Established Population[upper-alpha 1][1] Total area[2]           \
     Established Population[upper-alpha 1][1]           mi2      km2
0   Dec 14, 1819                      4874747         52420   135767
1    Jan 3, 1959                       739795        665384  1723337
2   Feb 14, 1912                      7016270        113990   295234
3   Jun 15, 1836                      3004279         53179   137732
4    Sep 9, 1850                     39536653        163695   423967
5    Aug 1, 1876                      5607154        104094   269601
6    Jan 9, 1788                      3588184          5543    14357
7    Dec 7, 1787                       961939          2489     6446
8    Mar 3, 1845                     20984400         65758   170312
9    Jan 2, 1788                     10429379         59425   153910
10  Aug 21, 1959                      1427538         10932    28313
11   Jul 3, 1890                      1716943         83569   216443
12   Dec 3, 1818                     12802023         57914   149995
13  Dec 11, 1816                      6666818         36420    94326
14  Dec 28, 1846                      3145711         56273   145746
15  Jan 29, 1861                      2913123         82278   213100
16   Jun 1, 1792                      4454189         40408   104656
17  Apr 30, 1812                      4684333         52378   135659
18  Mar 15, 1820                      1335907         35380    91633
19  Apr 28, 1788                      6052177         12406    32131
20   Feb 6, 1788                      6859819         10554    27336
21  Jan 26, 1837                      9962311         96714   250487
22  May 11, 1858                      5576606         86936   225163
23  Dec 10, 1817                      2984100         48432   125438
24  Aug 10, 1821                      6113532         69707   180540
25   Nov 8, 1889                      1050493        147040   380831
26   Mar 1, 1867                      1920076         77348   200330
27  Oct 31, 1864                      2998039        110572   286380
28  Jun 21, 1788                      1342795          9349    24214
29  Dec 18, 1787                      9005644          8723    22591
30   Jan 6, 1912                      2088070        121590   314917
31  Jul 26, 1788                     19849399         54555   141297
32  Nov 21, 1789                     10273419         53819   139391
33   Nov 2, 1889                       755393         70698   183108
34   Mar 1, 1803                     11658609         44826   116098
35  Nov 16, 1907                      3930864         69899   181037
36  Feb 14, 1859                      4142776         98379   254799
37  Dec 12, 1787                     12805537         46054   119280
38  May 29, 1790                      1059639          1545     4001
39  May 23, 1788                      5024369         32020    82933
40   Nov 2, 1889                       869666         77116   199729
41   Jun 1, 1796                      6715984         42144   109153
42  Dec 29, 1845                     28304596        268596   695662
43   Jan 4, 1896                      3101833         84897   219882
44   Mar 4, 1791                       623657          9616    24906
45  Jun 25, 1788                      8470020         42775   110787
46  Nov 11, 1889                      7405743         71298   184661
47  Jun 20, 1863                      1815857         24230    62756
48  May 29, 1848                      5795483         65496   169635
49  Jul 10, 1890                       579315         97813   253335

   Land area[2]          Water area[2]         Numberof Reps.
            mi2      km2           mi2     km2 Numberof Reps.
0         50645   131171          1775    4597              7
1        570641  1477953         94743  245384              1
2        113594   294207           396    1026              9
3         52035   134771          1143    2961              4
4        155779   403466          7916   20501             53
5        103642   268431           452    1170              7
6          4842    12542           701    1816              5
7          1949     5047           540    1399              1
8         53625   138887         12133   31424             27
9         57513   148959          1912    4951             14
10         6423    16635          4509   11678              2
11        82643   214045           926    2398              2
12        55519   143793          2395    6202             18
13        35826    92789           593    1537              9
14        55857   144669           416    1077              4
15        81759   211754           520    1346              4
16        39486   102269           921    2387              6
17        43204   111898          9174   23761              6
18        30843    79883          4537   11750              2
19         9707    25142          2699    6990              8
20         7800    20202          2754    7134              9
21        56539   146435         40175  104052             14
22        79627   206232          7309   18930              8
23        46923   121531          1508    3907              4
24        68742   178040           965    2501              8
25       145546   376962          1494    3869              1
26        76824   198974           524    1356              3
27       109781   284332           791    2048              4
28         8953    23187           397    1027              2
29         7354    19047          1368    3544             12
30       121298   314161           292     757              3
31        47126   122057          7429   19240             27
32        48618   125920          5201   13471             13
33        69001   178711          1698    4397              1
34        40861   105829          3965   10269             16
35        68595   177660          1304    3377              5
36        95988   248608          2391    6191              5
37        44743   115883          1312    3397             18
38         1034     2678           511    1324              2
39        30061    77857          1960    5076              7
40        75811   196350          1305    3379              1
41        41235   106798           909    2355              9
42       261232   676587          7365   19075             36
43        82170   212818          2727    7064              4
44         9217    23871           400    1035              1
45        39490   102279          3285    8508             11
46        66456   172119          4842   12542             10
47        24038    62259           192     497              3
48        54158   140268         11339   29367              8
49        97093   251470           720    1864              1

In [102]:
fiddy_states

[                          Name & Abbr          Cities                  \
                           Name & Abbr         Capital      Largest[3]
 0                        Alabama   AL      Montgomery      Birmingham
 1                         Alaska   AK          Juneau       Anchorage
 2                        Arizona   AZ         Phoenix         Phoenix
 3                       Arkansas   AR     Little Rock     Little Rock
 4                     California   CA      Sacramento     Los Angeles
 5                       Colorado   CO          Denver          Denver
 6                    Connecticut   CT        Hartford      Bridgeport
 7                       Delaware   DE           Dover      Wilmington
 8                        Florida   FL     Tallahassee    Jacksonville
 9                        Georgia   GA         Atlanta         Atlanta
 10                        Hawaii   HI        Honolulu        Honolulu
 11                         Idaho   ID           Boise           Boise
 12                      Illinois   IL     Springfield         Chicago
 13                       Indiana   IN    Indianapolis    Indianapolis
 14                          Iowa   IA      Des Moines      Des Moines
 15                        Kansas   KS          Topeka         Wichita
 16       Kentucky[upper-alpha 2]   KY       Frankfort      Louisville
 17                     Louisiana   LA     Baton Rouge     New Orleans
 18                         Maine   ME         Augusta        Portland
 19                      Maryland   MD       Annapolis       Baltimore
 20  Massachusetts[upper-alpha 2]   MA          Boston          Boston
 21                      Michigan   MI         Lansing         Detroit
 22                     Minnesota   MN        St. Paul     Minneapolis
 23                   Mississippi   MS         Jackson         Jackson
 24                      Missouri   MO  Jefferson City     Kansas City
 25                       Montana   MT          Helena        Billings
 26                      Nebraska   NE         Lincoln           Omaha
 27                        Nevada   NV     Carson City       Las Vegas
 28                 New Hampshire   NH         Concord      Manchester
 29                    New Jersey   NJ         Trenton          Newark
 30                    New Mexico   NM        Santa Fe     Albuquerque
 31                      New York   NY          Albany        New York
 32                North Carolina   NC         Raleigh       Charlotte
 33                  North Dakota   ND        Bismarck           Fargo
 34                          Ohio   OH        Columbus        Columbus
 35                      Oklahoma   OK   Oklahoma City   Oklahoma City
 36                        Oregon   OR           Salem        Portland
 37   Pennsylvania[upper-alpha 2]   PA      Harrisburg    Philadelphia
 38   Rhode Island[upper-alpha 3]   RI      Providence      Providence
 39                South Carolina   SC        Columbia      Charleston
 40                  South Dakota   SD          Pierre     Sioux Falls
 41                     Tennessee   TN       Nashville       Nashville
 42                         Texas   TX          Austin         Houston
 43                          Utah   UT  Salt Lake City  Salt Lake City
 44                       Vermont   VT      Montpelier      Burlington
 45       Virginia[upper-alpha 2]   VA        Richmond  Virginia Beach
 46                    Washington   WA         Olympia         Seattle
 47                 West Virginia   WV      Charleston      Charleston
 48                     Wisconsin   WI         Madison       Milwaukee
 49                       Wyoming   WY        Cheyenne        Cheyenne

      Established Population[upper-alpha 1][1] Total area[2]           \
      Established Population[upper-alpha 1][1]           mi2      km2
 0   Dec 14, 1819                      4874747         52420   135767
 1    Jan 3, 1959                       739795        665384  1723337
 2   Feb 14, 1912                      7016270        113990   295234
 3   Jun 15, 1836                      3004279         53179   137732
 4    Sep 9, 1850                     39536653        163695   423967
 5    Aug 1, 1876                      5607154        104094   269601
 6    Jan 9, 1788                      3588184          5543    14357
 7    Dec 7, 1787                       961939          2489     6446
 8    Mar 3, 1845                     20984400         65758   170312
 9    Jan 2, 1788                     10429379         59425   153910
 10  Aug 21, 1959                      1427538         10932    28313
 11   Jul 3, 1890                      1716943         83569   216443
 12   Dec 3, 1818                     12802023         57914   149995
 13  Dec 11, 1816                      6666818         36420    94326
 14  Dec 28, 1846                      3145711         56273   145746
 15  Jan 29, 1861                      2913123         82278   213100
 16   Jun 1, 1792                      4454189         40408   104656
 17  Apr 30, 1812                      4684333         52378   135659
 18  Mar 15, 1820                      1335907         35380    91633
 19  Apr 28, 1788                      6052177         12406    32131
 20   Feb 6, 1788                      6859819         10554    27336
 21  Jan 26, 1837                      9962311         96714   250487
 22  May 11, 1858                      5576606         86936   225163
 23  Dec 10, 1817                      2984100         48432   125438
 24  Aug 10, 1821                      6113532         69707   180540
 25   Nov 8, 1889                      1050493        147040   380831
 26   Mar 1, 1867                      1920076         77348   200330
 27  Oct 31, 1864                      2998039        110572   286380
 28  Jun 21, 1788                      1342795          9349    24214
 29  Dec 18, 1787                      9005644          8723    22591
 30   Jan 6, 1912                      2088070        121590   314917
 31  Jul 26, 1788                     19849399         54555   141297
 32  Nov 21, 1789                     10273419         53819   139391
 33   Nov 2, 1889                       755393         70698   183108
 34   Mar 1, 1803                     11658609         44826   116098
 35  Nov 16, 1907                      3930864         69899   181037
 36  Feb 14, 1859                      4142776         98379   254799
 37  Dec 12, 1787                     12805537         46054   119280
 38  May 29, 1790                      1059639          1545     4001
 39  May 23, 1788                      5024369         32020    82933
 40   Nov 2, 1889                       869666         77116   199729
 41   Jun 1, 1796                      6715984         42144   109153
 42  Dec 29, 1845                     28304596        268596   695662
 43   Jan 4, 1896                      3101833         84897   219882
 44   Mar 4, 1791                       623657          9616    24906
 45  Jun 25, 1788                      8470020         42775   110787
 46  Nov 11, 1889                      7405743         71298   184661
 47  Jun 20, 1863                      1815857         24230    62756
 48  May 29, 1848                      5795483         65496   169635
 49  Jul 10, 1890                       579315         97813   253335

    Land area[2]          Water area[2]         Numberof Reps.
             mi2      km2           mi2     km2 Numberof Reps.
 0         50645   131171          1775    4597              7
 1        570641  1477953         94743  245384              1
 2        113594   294207           396    1026              9
 3         52035   134771          1143    2961              4
 4        155779   403466          7916   20501             53
 5        103642   268431           452    1170              7
 6          4842    12542           701    1816              5
 7          1949     5047           540    1399              1
 8         53625   138887         12133   31424             27
 9         57513   148959          1912    4951             14
 10         6423    16635          4509   11678              2
 11        82643   214045           926    2398              2
 12        55519   143793          2395    6202             18
 13        35826    92789           593    1537              9
 14        55857   144669           416    1077              4
 15        81759   211754           520    1346              4
 16        39486   102269           921    2387              6
 17        43204   111898          9174   23761              6
 18        30843    79883          4537   11750              2
 19         9707    25142          2699    6990              8
 20         7800    20202          2754    7134              9
 21        56539   146435         40175  104052             14
 22        79627   206232          7309   18930              8
 23        46923   121531          1508    3907              4
 24        68742   178040           965    2501              8
 25       145546   376962          1494    3869              1
 26        76824   198974           524    1356              3
 27       109781   284332           791    2048              4
 28         8953    23187           397    1027              2
 29         7354    19047          1368    3544             12
 30       121298   314161           292     757              3
 31        47126   122057          7429   19240             27
 32        48618   125920          5201   13471             13
 33        69001   178711          1698    4397              1
 34        40861   105829          3965   10269             16
 35        68595   177660          1304    3377              5
 36        95988   248608          2391    6191              5
 37        44743   115883          1312    3397             18
 38         1034     2678           511    1324              2
 39        30061    77857          1960    5076              7
 40        75811   196350          1305    3379              1
 41        41235   106798           909    2355              9
 42       261232   676587          7365   19075             36
 43        82170   212818          2727    7064              4
 44         9217    23871           400    1035              1
 45        39490   102279          3285    8508             11
 46        66456   172119          4842   12542             10
 47        24038    62259           192     497              3
 48        54158   140268         11339   29367              8
 49        97093   251470           720    1864              1  ]

In [ ]:


def grab_initial_state_data():
    states = state_list()
    main_df = pd.DataFrame()
    
    for abbv in states:
        query = "FMAC/HPI_"+str(abbv)
        df = quandl.get(query, authtoken=api_key)
    
        if main_df.empty:
            main_df = df
        else:
            main_df = main_df.join(df, lsuffix=abbv)

    print(main_df.head())
    
    pickle_out = open('fiddy_states.pickle', 'wb')
    pickle.dump(main_df, pickle_out)
    pickle_out.close()
    
grab_initial_state_data()